.category-ul {
    list-style-type:none;
    background-color: #333;
    width: 20%;
    overflow: hidden;
    padding-left: 0;
}

.category-li {
    float:none;
    
}

.category-a {
    color: white;
    text-decoration:none;
    padding: 0;
    text-align:center;
    padding: 1em;
}

.category-a:hover {
    background-color: #111;
}