* {
    margin: 0;
    padding: 0;
}

.content-container {
    width: 65%;
    height: auto;
    margin: 130px auto 100px;
}

.items-list-container {
    height: auto;
}

.card {
    width: 20%;
    height: 100%;
    float: left;
    padding: 10px;
}

.card a {
    color: #111;
}

.card a:hover {
    color: #757575;
    text-decoration: none;
}

.card img {
    width: 177.5px;
    height: 210px;
}

.clear-float {
    clear: both;
}