* {
    padding: 0;
    margin: 0;
}

table {
    width: 50%;
    margin: auto;
    border-collapse: collapse;
    
}

th {
    padding: 20px;
    background-color: lightgreen;
    font-size:1.5em;
}

td {
    padding: 10px 5px;
    font-size:1.2em;
}

.function {
    text-align: center;
    font-size:24px;
}


.function a{
    text-decoration: none;
    color: black;
    
}

.manage-category-container {
    width: 50%;
    margin: auto;
}
